__pycache__
.vscode

# audio
audio/*
!audio/desert.ogg

# graphics
graphics/tilemap/*
graphics/font/*
graphics/grass/*
graphics/monsters/*
graphics/objects/*
graphics/particles/*
graphics/player/*
graphics/test/*
graphics/weapons/*

!graphics/tilemap/ground.png

# code
code/*
!code/settings.py
!code/main.py
!code/support.py
!code/tile.py