__pycache__
.vscode
build
dist

# audio
audio_samples
audio/*
!audio/desert.ogg

# graphics
graphics_samples

graphics/tilemap/*
graphics/font/*
graphics/grass/*
graphics/monsters/*
graphics/objects/*
graphics/particles/*
graphics/player/*
graphics/test/*
graphics/weapons/*

!graphics/tilemap/ground.png
!graphics/particles/scarab
!graphics/particles/book
!graphics/monsters/scarab
!graphics/monsters/book

